@model List<Category>

<div class="list-group">
    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action
           @(ViewBag.CategoryId == null ? "active" :"")">
        All Categories
    </a>

    @foreach (var category in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-categoryId="@category.CategoryId" class="list-group-item list-group-item-action
           @(ViewBag.CategoryId?.ToString() == category.CategoryId.ToString() ? "active" :"")">
            @category.CategoryName
        </a>
    }

</div>