

<div class="display-4">
    Your purchase of <strong>@ViewBag.TotalPrice -TL</strong> has been completed. Thanks
    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Go Back</a>
    </p>
</div>